@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #007bff;
    margin-bottom: 20px;
}
ul {
    padding-left: 20px;
}
p {
    margin: 10px 0;
    color: #000; /* Adicionado para definir a cor do texto como preto */
}
.footer {
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}
