<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Formulário Submetido</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #007bff;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Novo Formulário Submetido</h1>
        <p>Um novo formulário de solicitação de adição de produtos ou categorias foi submetido. Aqui estão os detalhes:</p>
        <ul>
            <li><strong>Username:</strong> {{ usuario }}</li>
            <li><strong>Nome do Produto:</strong> {{ nome_produto }}</li>
            <li><strong>Descrição do Produto:</strong> {{ descricao_produto }}</li>
            <li><strong>País de Origem:</strong> {{ pais_origem }}</li>
            <li><strong>Quantidade:</strong> {{ quantidade }}</li>
        </ul>
    </div>
</body>
</html>
